.Footer_wrapper{
    position: relative;
    height: 40vh;
    bottom: 100%;
    width: 100%;
    background-color: rgb(3, 23, 24);
    color: #fff;
    display: flex;
    justify-content: center;
}

.Footer_wrapper_content{
    width: 70%;
    display: flex;
    transform: translateY(40px);
    height: max-content;
    align-items: center;



}


.logo_header{
    font-size: 21px;
    font-weight: 800;
    margin: 0 10px;
}
.logo_header .desc{
    font-size: 18px;
    font-weight: 400;
    max-width: 40vw;
}
.Footer_wrapper_svg{
    position: absolute;
    right: 0;
    bottom: 80px;
    width: 500px;
}