.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}
.parent{
    width: 100%;
    height: 100%;
}
.container_of_messages{
    border:1px solid rgb(0, 0, 0,0.2);
    padding: 0 5px;
    width: 80vw;
    margin:0 auto;
    max-height: 60vh;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    transition: 0.1s all;
    background-color: rgba(241, 241, 241, 0.795);
    max-width: 800px;
    border-bottom: 0;
}
.message{
    margin-top: 8px;
    display: flex;
    max-width: 100vw;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
    background-color: rgba(146, 138, 138, 0.2);
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}
.left{
    width: 10%;
}
.left img{
    width: 40px;
    clip-path: circle(20px at 50% 50%);
}
/* .sent{
    margin-left: auto;
    flex-direction: row-reverse;
    background-color: rgba(224, 208, 235, 0.644);
    display: block;
}
.recieved{
    margin-right: auto;
    display: block;
}
.recieved .left{
    margin-right: 16px;
}
.sent .left{
    margin-left: 16px;
} */
.input_comment{
    width: 100%;
    background-color: rgb(75, 75, 75);
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid black;

    
}
.input_comment input{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding:0 10px;
    max-width: 800px;
}
.wrapper button{
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    background-color: blue;    
    color: #fff;
    margin:2px 0 4px 0;
    max-width: 800px;
    
    
}
h2{
    align-self: flex-start;
    margin-left: 10%;
}